body {
  font-family: 'Alfa Slab One', ;
  font-size:6rem;
  background:#2c333a;
}
.let{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.lt1{
  justify-content: center;
  align-items: center;
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 2s; 
  transform: rotatex(180deg);
}
.lt2 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 3s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);

}
.lt3 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 4s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);
}
.lt4 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 5s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);
}
.lt5 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 6s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);
}
.lt6 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 7s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);
}
.lt7 {
  height: 2em;
  color: violet;
  animation-name: MA;
  animation-duration: 8s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotatex(180deg);
}

@keyframes MA {
  0%{transform: rotatex(90deg); 
  }
  50%{
    transform: rotatex(0deg); 
  }
  100%
    {
      transform: rotatex(180deg); 
    }
  
}



















